.signup-page {
    display: flex;
}

.background-img {
    height: 100vh;
}
.background-img img {
    position: absolute;
    height: 100%;
    width: 55%;
}
.your-logo {
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    left: 30px;
    top:30px;
}

.signup-form {
    width: 43%;
    /* background-color: blueviolet; */
    margin-left: 50%;
}
.sub-form {
    /* background-color: chartreuse; */
    margin-left: 5%;
}
.head-signup {
    /* background-color: brown; */
    margin-top: 75px;
    font-size: 35px;
    font-weight: bolder;
}
.decr-txt {
    margin-top: 15px;
    font-size: 17px;
}

.login-here {
    margin-top: 3px;
    font-size: 17px;
}
span {
    color: #FF432A;
    font-weight: bold;
}
.input-field {
    margin-top: 50px;
}
.input-head {
    font-size: 14px;
    margin-top: 30px;
}

/* .email-address {
    background-color: chartreuse;
} */
input {
    width: 50%;
}
.email-address {
    display: flex;
    gap: 5px;
    margin-top: 16px;
    /* background-color:cornflowerblue; */
    padding-bottom:10px ;
    border-bottom: 2px solid rgba(255, 67, 42, 1);
    width: 80%;
}
.GoMail {
    /* margin-top: 9px; */
    font-size: 20px;
}
input {
    border: none;
    font-size: 17px;
    width: 89%;
    outline: none;
}

.email-address2 {
    display: flex;
    gap: 5px;
    margin-top: 16px;
    /* background-color:cornflowerblue; */
    padding-bottom:10px ;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    width: 80%;
}
.eye {
    margin-top: 8px;
}
button {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    border-radius: 40px;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-color:rgba(255, 67, 42, 1) ;
    margin-top: 35px;
    margin-left: 0px;
    border: none;
    color: #fff;
}

/*---------------Mobile Screen-----------------------*/

@media screen and (max-width: 600px) {
    .background-img img {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .signup-form {
        position: relative;
        width: 65%;
        background-color: rgba(255, 255, 255, 0.80);
        margin-left: 0%;
        height: 10%;
        margin-top: 12%;
        padding: 30px;
        border-radius: 30px;
    }

}


/*-------------------Mobile Screen( max-width:400px)------------------------*/
@media screen and (max-width: 400px) {
 
    .background-img img {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .signup-form {
        position: relative;
        width: 150%;
        background-color: rgba(255, 255, 255, 0.80);
        margin-right: 20%;
        height: 89vh;
        margin-top: 12%;
        padding: 5px;
        border-radius: 30px;
    }
}

